{% extends "rcs_1/base.html" %}

{% block title %}
Информация об РЦС-1
{% endblock  %}

{% block body %}
<h1>Информация об РЦС-1</h1>
<div>
    {% if stations.all %}
    {% for station in stations.all %}
        <p>Станция: {{station.name}}</p>
        <p>Информация о станции: {{station.temperature_info}}</p>
        {% endfor %}
    </div>
    {% else %}
    <h3>Станции не загруженны</h3>
    {% endif %}

<a href="{% url 'rcs_1:info-create' %}"><button style="background-color:white; border-radius:5px">Создание новой станции</button></a>
<a href="{% url 'rcs_1:arduino-create' %}"><button style="background-color:white; border-radius:5px">Создание нового ардуино</button></a>
{% endblock  %}