{% extends "arduinoapp/base.html" %}

{% block title %}
    Info list
{% endblock  %}

{% block body %}
<h1>Информация о станции Саратов-1</h1>
<div>
    {% if arduinos.all %}
    {% for arduino in arduinos.all %}
        <p> Имя микроконтроллера: {{arduino.name}}</p>
        <p> Информация с датчика температуры: {{arduino.temperature_info}}</p>
        <p> На какой станции он находится микроконтроллер: {{arduino.station}}
        <p> Информация когда была загружена: {{arduino.update_data}}</p>
        {% endfor %}
    </div>
    {% else %}
    <h3>Станции не загруженны</h3>
    {% endif %}

{% endblock  %}