{% extends "arduinoapp/base.html" %}

{% block title %}
Главная страница РЦС-4
{% endblock %}

{% block body %}
<!--<meta http-equiv="Refresh" content="15" />-->


<h1>Главная страница приложения РЦС-4</h1>
<div>
    <ul>
        {% for name, temperature_info in stations %}
        <li>{{name|linenumbers}} ({{name|length}}) {{temperature_info}}</li>
    </ul>
    {% endfor %}


<div>
    <a href="{% url 'arduinoapp:info-settings' %}"><button style="background-color:white; border-radius:5px">Настройки станциями в РЦС-4</button></a>
</div>
<div>
    <a href="{% url 'arduinoapp:info-aboutRCS4' %}"><button style="background-color:white; border-radius:5px">Добавление информации для РЦС-4</button></a>
</div>
{% endblock %}