{% extends "arduinoapp/base.html" %}

{% block title %}
Главная страница РЦС-4
{% endblock %}

{% block body %}
<!--<meta http-equiv="Refresh" content="15" />-->


<h1>Главная страница приложения РЦС-4</h1>
<div>
    <ul>
        {% for name, temperature_info in stations %}
        <li>{{name|linenumbers}} ({{name|length}}) {{temperature_info}}</li>
    </ul>
    {% endfor %}


<div>
    <a href="{% url 'arduinoapp:info-Saratov_1RCS4' %}"><button style="background-color:white; border-radius:5px">Саратов-1ard</button></a>
</div>
<div>
    <a href="{% url 'arduinoapp:rcs-index' %}"><button style="background-color:white; border-radius:5px">Назад</button></a>
</div>

{% endblock %}