{% extends "arduinoapp/base.html" %}

{% block title %}
    Info list
{% endblock  %}

{% block body %}
<h1>Перечень станций </h1>
{% if stations.all %}
<div>
    {% for station in stations.all%}
    <div>
        <p>Станция: {{station.name}}</p>
        <p>Информация о станции: {{station.temperature_info}}</p>
        <p> Информация когда была загружена: {{station.data_created}}</p>
        {% endfor %}
</div>
    {% else %}
    <h3>Станции не загруженны</h3>
    {% endif %}
</div>
<a href="{% url 'arduinoapp:info-create' %}"><button style="background-color:white; border-radius:5px">Создание новой станции</button></a>
<a href="{% url 'arduinoapp:arduino-create' %}"><button style="background-color:white; border-radius:5px">Создание нового ардуино</button></a>
{% endblock  %}